<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    #set( $this = "Velocity")
    $this is great!  <br/>
    $name  <br/>
hi  , i am letian
<h1>你好</h1>
</body>
</html>